._root {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #ffd8a8;
}
._root__aside-bar {
    width: 200px;
    height: 90vh;
    background-color: #b2f2bb;
}
._root__footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #a5d8ff;
}