:root {
    --padding-block: 1rem;
    --padding-vertical: 2rem;
}
._root {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #ffd8a8;
}
._root__aside-bar {
    width: 240px;
    /* height: 90vh; */
    background-color: #1B2024;
    margin: 0;
}
._root__footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #a5d8ff;
}

/* utility classes */

.hidden {
    display: none;
}