.fans-likes {
  /* background-color: red; */
}

.fans-likes__title {
  font-size: 1.3rem;
  text-transform: capitalize;
  margin-bottom: 0;
}

.fans-likes .fans-likes__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
}
.fans-likes__action svg {
  cursor: pointer;
  margin: 0 -5px;
}
.fans-likes__action svg:hover {
  color: #878d93;
}

.fans-likes__action {
  display: flex;
  justify-content: flex-end;
  gap: 0.4rem;
}

.fans-likes__list {
  margin: 0;
  padding: 0;
}
.fans-likes__list_item a {
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
  font-size: 1.2rem;
  text-decoration: none;
  color: #e1e5ea;
}

.fans-likes__list_item img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
