.sidebar-area {
  /* background-color: rgb(222, 231, 228); */
  height: 100%;
  width: 100%;
  padding: var(--padding-vertical) 0;
}
.sidebar_menu_item {
  color: #bbbec4;
  text-decoration: none;
  display: flex;
  gap: 9px;
  font-size: 13px;
  text-transform: capitalize;
  padding: 12.5px var(--padding-block);
    box-sizing: border-box;
}
.sidebar_menu_item:hover:not(.sidebar_menu_item--heading),
.sidebar_menu_item:target {
    background-color: rgb(220 89 63 / 8%);
    border-left:10px solid #DC5A3F;
}
.sidebar_menu_item--heading {
  color: #505358;
}

.sidebar_menu_item svg {
  width: 15px;
  height: 15px;
}
